.block.order-teaser-block
    .content
        h2.page-title
            | Не нашли&nbsp;то, что&nbsp;нужно?
        p.page-undertitle
            | Опишите задачу, и&nbsp;мы
            br
            |  поможем вам&nbsp;с&nbsp;поиском!
        a.pink-btn.big.submit-request(href="#counterpoint") Оставить заявку