.chat-wrapper(ng-controller="ChatController as Cctrl")
    .chat-hat
        a.img-wrapper.chat-img-wrapper(href="card?parentId={{ctrl.categoriesTree[0].categoryId}}&subId={{ctrl.categoriesTree[0].childs[0].categoryId}}&companyId={{Cctrl.currentChatPartner.company.companyId}}")
            img(src='img/chat-ava.jpg')
        h3.chat-title {{Cctrl.currentChatPartner.company.caption}}
        .close-chat(ng-click="Cctrl.disconnectChat()")
        .shrink-chat
            .shrink-chat-line

    .chat-scroll.mCustomScrollbar
        .chat-messages-area
            .block-message(ng-repeat="message in Cctrl.messages")
                .time-bubble.grey-btn(ng-show="message.showDate") {{message.sendDate | date : 'dd:MM'}}
                .bubble(ng-class="{'to' : message.senderId == Cctrl.currentChatPartner.senderId, 'from' : message.receiverId == Cctrl.currentChatPartner.senderId}")
                    .bubble-message(ng-class="{'to' : message.senderId == Cctrl.currentChatPartner.senderId, 'from' : message.receiverId == Cctrl.currentChatPartner.senderId}") {{message.message}}
    .chat-texting-area
        textarea.chat-textarea.autoExpand(placeholder="Ваше сообщение", rows='1', data-min-rows='1' ng-model="Cctrl.chatMessage" ng-Enter="Cctrl.sendMsg()")