.chats
    .chat-wrapper(ng-controller="ChatController as Cctrl" ng-class="{'shrinked' : Cctrl.currentChatPartner.isClosed}")
        .chat-hat
            a.img-wrapper.chat-img-wrapper(href="card?parentId={{ctrl.categoriesTree[0].categoryId}}&subId={{ctrl.categoriesTree[0].childs[0].categoryId}}&companyId={{Cctrl.currentChatPartner.company.companyId}}")
                img(src='img/chat-ava.jpg')
            h3.chat-title {{Cctrl.currentChatPartner.company.caption}}
            .close-chat(ng-click="Cctrl.disconnectChat()")
            .shrink-chat(ng-click="Cctrl.shrinkChat()")
                .shrink-chat-line(ng-class="{'opened' : Cctrl.currentChatPartner.isClosed}")

        .chat-scroll.mCustomScrollbar
            .chat-messages-area
                .block-message(ng-repeat="message in Cctrl.messages")
                    .time-bubble.grey-btn(ng-show="message.showDate") {{message.sendDate | date : 'dd.MM'}}
                    .bubble(ng-class="{'from' : message.senderId == Cctrl.currentChatPartner.senderId, 'to' : message.receiverId == Cctrl.currentChatPartner.senderId}")
                        .bubble-message(ng-class="{'from' : message.senderId == Cctrl.currentChatPartner.senderId, 'to' : message.receiverId == Cctrl.currentChatPartner.senderId}") {{message.message}}
        .chat-texting-area
            textarea.chat-textarea.autoExpand(placeholder="Ваше сообщение", rows='1', data-min-rows='1' ng-model="Cctrl.chatMessage" ng-Enter="Cctrl.sendMsg()")