.popup-wrapper#selectCityPopupWrapper
    .popup.city-popup#selectCityPopup
        img.close-popup(src='img/close-popup.svg')
        .cities-hat
            h2.card-info-title
                | Ваш город
        .cities-wrapper.mCustomScrollbar
            .cities-col
                ul.city-select-list
                    li.city-letter А
                    li.city-name
                        a(href='#') Абакан
                    li.city-name
                        a(href='#') Архагельск
                    li.city-name
                        a(href='#') Ангарск

                ul.city-select-list
                    li.city-letter Б
                    li.city-name
                        a(href='#') Брянск
                    li.city-name
                        a(href='#') Бреды
                    li.city-name
                        a(href='#') Белорецк
                    li.city-name
                        a(href='#') Барнаул
                ul.city-select-list
                    li.city-letter В
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Г
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Д
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Е
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Ж
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск


            .cities-col
                ul.city-select-list
                    li.city-letter З
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter И
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter К
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Л
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter М
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Н
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter О
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

            .cities-col
                ul.city-select-list
                    li.city-letter П
                    li.city-name
                        a(href='#') Абакан
                    li.city-name
                        a(href='#') Архагельск
                    li.city-name
                        a(href='#') Ангарск

                ul.city-select-list
                    li.city-letter Р
                    li.city-name
                        a(href='#') Брянск
                    li.city-name
                        a(href='#') Бреды
                    li.city-name
                        a(href='#') Белорецк
                    li.city-name
                        a(href='#') Барнаул
                ul.city-select-list
                    li.city-letter С
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Т
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter У
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Ф
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Х
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

            .cities-col
                ul.city-select-list
                    li.city-letter Ц
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Ч
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Ш
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Щ
                    li.city-name
                        a(href='#') Абакан
                    li.city-name
                        a(href='#') Архагельск
                    li.city-name
                        a(href='#') Ангарск

                ul.city-select-list
                    li.city-letter Э
                    li.city-name
                        a(href='#') Брянск
                    li.city-name
                        a(href='#') Бреды
                    li.city-name
                        a(href='#') Белорецк
                    li.city-name
                        a(href='#') Барнаул
                ul.city-select-list
                    li.city-letter Ю
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск

                ul.city-select-list
                    li.city-letter Я
                    li.city-name
                        a(href='#') Великий Новгород
                    li.city-name
                        a(href='#') Бладимир
                    li.city-name
                        a(href='#') Вологда
                    li.city-name
                        a(href='#') Всеволожск



