.popup-wrapper#partnerPopupWrapper
    .popup.partner-popup#partnerPopup
        img.close-popup(src='img/close-popup.svg')
        .pop-cont
            img.popup-emoji(src='img/emoji/cool.png')

            h2.mid-title
                | Компания получила
                br
                |  заявку на партнерство!
            p.common-text
                | Если предложение заинтересует,
                br
                |  вам откроется доступ к чату.
                br
                |  В чате вы обсудите все подробности

            form
                button.pink-btn#cool(href="#") Понятно
