.search-result-block#headerSearchResults
    ul.s-r-list
        li.s-r-item
            a.s-r-link(href="#") Календари
        li.s-r-item
            a.s-r-link(href="#") Календари настенные
        li.s-r-item
            a.s-r-link(href="#") Календула