.popup-wrapper#submitRequestPopupWrapper
    .popup.small-popup#submitRequestPopup
        img.close-popup#closeRequest(src='img/close-popup.svg')
        .pop-cont
            img.popup-emoji(src='img/emoji/peace.png')

            h2.mid-title
                | Отлично!
            p.common-text
                | Мы рассмотрим заявку,
                br
                |  и скоро ответим тебе!

            button.pink-btn#okWait(href="#") Супер, жду
